#iqub-container.blog {
  padding-top: 80px;
  @media screen and (max-width: $breakpoints960 - 1) {
    padding-top: 40px;
  }
  .section {
    .content {
      padding-top: 0px;
      float: right;
      @media screen and (min-width: $breakpoints1280) {
        width: 930px;
        padding-left: 30px;
      }
      @media screen and (max-width: $breakpoints1280 - 1) {
        width: 610px;
      }
      @media screen and (max-width: $breakpoints960 - 1) {
        width: 100%;
        padding-left: 0px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        width: 100%;
      }
    }
    .blog_sidebar {
      display: inline-block;
      width: 310px;
      float: left;
      padding-left: 20px;
      padding-right: 30px;
      @media screen and (max-width: $breakpoints960 - 1) {
        display: block;
        width: 100%;
        padding-bottom: 40px;
      }
    }
  }
  .blog_subscribe {
    padding-top: 60px;
    color: #5d6978;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    font-size: 13px;
    @media screen and (max-width: $breakpoints960 - 1) {
      font-size: 11px;
    }
    @media screen and (max-width: $breakpoints960 - 1) {
      padding-top: 40px;
    }
    .title {
      font-size: 24px;
      font-weight: bold;
      color: #161d26;
      @media screen and (max-width: $breakpoints960 - 1) {
        font-size: 20px;
      }
    }
    input {
      display: block;
      width: 100%;
      @media screen and (max-width: $breakpoints960 - 1) {
       display: inline-block;
        width: auto;
      }
    }
    input[type="radio"] + label {
      margin-bottom: 10px;
      &:hover {
        color: #e62e4c;
      }
    }
    input[type="radio"] {
      display: none;
    }
    input[type="text"] {
      margin-top: 18px;
      height: 60px;
      border: 1px solid #161d26;
      padding-left: 20px;
      @media screen and (max-width: $breakpoints960 - 1) {
        height: 40px;
        width: 50%;
        margin-right: 10%;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        width: 100%;
        margin-right: 0px;
      }
    }
    input[type="submit"] {
      color: white;
      background: #e62e4c;
      height: 60px;
      border: 0px;
      margin-top: 20px;
      @media screen and (max-width: $breakpoints960 - 1) {
        height: 40px;
        margin: 0px;
        padding: 0px 20px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        margin-top: 20px;
      }
      &:hover {
        background: #ff4060;
      }
    }
    p {
      padding: 20px 0px;
      line-height: 21px;
      margin-bottom: 0px;
    }
    .subscribe_social {
      padding-top: 20px;
      @media screen and (max-width: $breakpoints960 - 1) {
        padding: 0px;
      }
    }
    .social-connect a {
      display: inline-block;
      float: left;
      height: 60px;
      margin-right: 13px;
      width: 60px;
      &.social{
        font-size: 35px;
        line-height: 60px;
        @media screen and (max-width: $breakpoints960 - 1) {
          width: 40px;
          height: 40px;
          font-size: 25px;
          line-height: 40px;
        }
      }
    }
    .subscribe_img {
      clear: both;
      padding-top: 30px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .top_links {
    padding: 0px;
    margin: 0px;
    li {
      display: inline-block;
      @media screen and (max-width: $breakpoints640 - 1) {
        display: block;
        margin-bottom: 20px;
      }
      a {
        font-size: 17px;
        color: #161d26;
        border: 1px solid #d3dae1;
        line-height: 60px;
        display: inline-block;
        padding: 0px 20px;
        margin-right: 20px;
        &:hover, &.active {
          border: 0px;
          background: #015995;
          color: #ffffff;
          border: 1px solid #015995;
        }
        @media screen and (max-width: $breakpoints960 - 1) {
          line-height: 40px;
          font-size: 15px;
        }
        @media screen and (max-width: $breakpoints640 - 1) {
          line-height: 60px;
          width: 100%;
          display: block;
        }
      }
    }
  }
  .blog_article {
    padding: 60px 0px;
    border-bottom: 1px solid #d3dae1;
    @media screen and (max-width: $breakpoints960 - 1) {
      padding: 40px 0px;
    }
    @media screen and (max-width: $breakpoints640 - 1) {
      padding: 20px 0px;
    }
    .top_part {
      line-height: 19px;
      font-size: 13px;
      @media screen and (max-width: $breakpoints640 - 1) {
        font-size: 11px;
      }
      .created {
        color: #5d6978;
        display: inline-block;
        margin-right: 45px;
        @media screen and (max-width: $breakpoints640 - 1) {
          margin-right: 27px;
        }
      }
      .comments_count {
        color: #015995;
        display: inline-block;
        padding-left: 24px;
        background-image: url('../../images/blog_comment_ico.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        margin-right: 45px;
        @media screen and (max-width: $breakpoints640 - 1) {
          span {
            display: none;
          }
        }
        @media screen and (max-width: $breakpoints640 - 1) {
          margin-right: 27px;
        }
      }
      .vote_up {
        color: #161d26;
        display: inline-block;
        padding-left: 24px;
        background-image: url('../../images/blog_like_top_ico.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        margin-right: 45px;
        @media screen and (max-width: $breakpoints640 - 1) {
          margin-right: 27px;
        }
      }
      .vote_down {
        color: #161d26;
        display: inline-block;
        padding-left: 24px;
        background-image: url('../../images/blog_like_bottom_ico.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
      }
    }
    .article_title {
      font-size: 30px;
      color: #161d26;
      font-weight: bold;
      padding-top: 30px;
      @media screen and (max-width: $breakpoints960 - 1) {
        font-size: 24px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        padding-top: 20px;
      }
    }
    .author {
      padding-top: 40px;
      @media screen and (max-width: $breakpoints960 - 1) {
        padding-top: 20px;
      }
      .author_img {
        float: left;
        img {
          display: block;
        }
      }
      .icon_wrap {
        float: left;
        position: relative;
        height: 60px;
        .tooltip_blog_wrap {
          position: absolute;
          top: 70px;
          left: 0px;
          display: none;
        }
        &:hover {
          .tooltip_blog_wrap {
            display: block;
          }
        }
        .tooltip_blog {
          font-size: 13px;
          color: #5d6978;
          &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 10px;
            width: 11px;
            height: 18px;
            background: url('../../images/tooltip-pointer.png');
          }
        }
        .tooltip_blog {
          white-space: nowrap;
          display: inline-block;
          position: relative;
          border: 1px solid #d3dae1;
          top: 18px;
          padding: 15px 20px;
          margin-bottom: 18px;
          font-size: 13px;
          line-height: 17px;
          background: #ffffff;
        }
      }
      .icon1 {
        background-image: url('../../images/profile_form_icon.png');
        background-color: #e62e4c;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        height: 60px;
        width: 60px;
      }
      .blog_author2 {
        background-image: url('../../images/blog_author2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        height: 60px;
        width: 60px;
      }
      .blog_author3 {
        background-image: url('../../images/blog_author3.jpg');
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        height: 60px;
        width: 60px;
      }
      .t_wrap {
        float: left;
        padding-left: 20px;
        .t {
          font-size: 13px;
          color: #5d6978;
          line-height: 17px;
          display: table-cell;
          height: 60px;
          vertical-align: middle;
          .author_name {
            color: #005c99;
            font-size: 17px;
            cursor: pointer;
          }
        }
      }
      .blu_ico {
        background-image: url('../../images/blu_ico.jpg');
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        float: right;
        height: 60px;
        width: 60px;
        @media screen and (max-width: $breakpoints640 - 1) {
          float: none;
          clear: both;
          display: block;
        }
      }
    }
    .summary {
      padding-top: 40px;
      font-size: 17px;
      line-height: 30px;
      color: #161d26;
      clear: both;
      @media screen and (max-width: $breakpoints960 - 1) {
        padding-top: 20px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        font-size: 15px;
        line-height: 21px;
      }
    }
    .teaser_image {
      padding-top: 40px;
      @media screen and (max-width: $breakpoints960 - 1) {
        padding-top: 20px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .blog_tags {
      margin-top: 40px;
      @media screen and (max-width: $breakpoints960 - 1) {
        margin-top: 20px;
      }
      padding-left: 30px;
      background-image: url('../../images/blog_tags.png');
      background-repeat: no-repeat;
      background-position: 0px 7px;
      line-height: 21px;
      li {
        list-style: none;
        display: inline-block;
        font-size: 13px;
        color: #015995;
      }
    }
    .read_more {
      padding-top: 40px;
      a {
        color: #161d26;
        font-size: 13px;
        line-height: 40px;
        height: 40px;border: 1px solid #d3dae1;
        display: inline-block;
        padding-left: 20px;
        padding-right: 40px;
        background-image: url('../../images/read_more_blog.png');
        background-repeat: no-repeat;
        background-position: right 20px center;
        &:hover {
          background-color: #d3dae1;
        }
      }
      @media screen and (max-width: $breakpoints960 - 1) {
        padding-top: 20px;
      }
    }
  }
  .pagination ul li {
    font-size: 17px;
    &:not(.prev):not(.next):not(.current) {
      display: inline-block;
      @media screen and (max-width: $breakpoints640 - 1) {
        display: none;
      }
    }
  }
  .pagination {
    @media screen and (max-width: $breakpoints640 - 1) {
      margin-top: 40px;
      margin-bottom: 0px;
    }
  }
}