@import "vars";

#cabinet-container.payment-management {
  margin-top: 55px;
  color: #161d26;
  .filtr {
    .menu {
      .btn-filtr {
        @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
          display: inline-block;
          float: left;
          width: 187px;
          margin-left: 0;
          margin-right: 20px;
        }
      }
    }
  }
  .message-error {
    margin-top: 8px;
  }
  .payment-your-credits-total {
    font-size: 24px;
    font-weight: 700;
  }
  .payment-your-credits-info {
    display: inline-block;
    font-size: 17px;
    margin: 12px 0;
    width: 100%;
    label {
      margin-bottom: 0;
    }
    a {
      color: #e62e4c;
      text-decoration: underline;
    }
  }
  .payment-info-xy {
    font-size: 24px;
    font-weight: 700;
    @media screen and (min-width: $breakpoints640) and (max-width: $breakpoints1280 - 1) {
      font-size: 20px;
    }
    @media screen and (max-width: $breakpoints640 - 1) {
      font-size: 16px;
    }
  }
  .payment-info-d {
    color: #5d6978;
    font-size: 13px;
  }
  .payment-management-info-container {
    background-color: #c9e5fa;
    display: inline-block;
    padding: 0 10px;
    width: 100%;
  }
  .payment-management-platinum,
  .payment-management-gold,
  .payment-management-silver {
    display: inline-block;
    float: left;
    width: 302px;
    @media screen and (min-width: $breakpoints960) and (max-width: $breakpoints1280 - 1) {
      width: 294px;
    }
    @media screen and (min-width: $breakpoints640) and (max-width: $breakpoints960 - 1) {
      width: 289px;
    }
    @media screen and (max-width: $breakpoints640 - 1) {
      width: 100%;
    }
    .h {
      padding: 14px 0;
      span {
        font-size: 24px;
        font-weight: 700;
        margin-left: 18px;
      }
    }
    .form-actions {
      margin: 20px 0 15px 0;
      padding: 0 20px;
      input[type=submit] {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        background-color: #e62e4c;
        border: none;
        color: #fff;
        display: inline-block;
        float: left;
        font-size: 17px;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
      }
      .submit-arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 20px solid #e62e4c;
        border-bottom: 20px solid transparent;
      }
    }
  }
  .payment-management-gold {
    margin: 0 1px;
  }
  .pm-container {
    @include box-shadow(1px 1px 3px rgba(0,0,2,.14));
    .pm-row {
      display: inline-block;
      padding: 10px 20px;
      width: 100%;
      &.odd {
        background-color: #ebf5fd;
      }
      &.even {
        background-color: #fff;
      }
      .t {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 20px;
        min-height: 21px;
      }
      .v {
        font-size: 15px;
      }
    }
  }
}