@import "vars";

#calculate-wrapper {
  color: #161d26;
  .result_buttons {
    clear: both;
  }
  .calc-wrap {
    display: inline-block;
    width: 100%;
    h3 {
      font-size: 17px;
      font-weight: bold;
    }
  }
  .calc-wrap-left {
    clear: both;
    display: inline-block;
    float: left;
    width: 430px;
    @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
      width: 100%;
    }
    h3 {
      font-size: 17px;
      font-weight: bold;
    }
  }
  .calc-wrap-right {
    display: inline-block;
    float: right;
    width: 430px;
    @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
      width: 100%;
    }
    h3 {
      font-size: 17px;
      font-weight: bold;
    }
  }
  .calc-form-label {
    color: #5d6978;
    margin-bottom: 2px;
    font-size: 13px;
    width: 100%;
  }
  input.form-number {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #d3dae1;
    color: #161d26;
    float: left;
    font-size: 13px;
    height: 40px;
    padding: 0 60px 0 20px;
    width: 200px;
    @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
      width: 280px;
    }
  }
  .calc-form-operation {
    display: inline-block;
    height: 40px;
    margin-left: -39px;
    vertical-align: middle;
    width: 38px;
    .calc-form-inc {
      @include background(image-url("calc_inc_arrow.png") center no-repeat);
      border-bottom: 1px solid #d3dae1;
      border-left: 1px solid #d3dae1;
      cursor: pointer;
      height: 20px;
      width: 38px;
    }
    .calc-form-dec {
      @include background(image-url("calc_dec_arrow.png") center no-repeat);
      border-left: 1px solid #d3dae1;
      cursor: pointer;
      height: 20px;
      width: 38px;
    }
  }
  select {
    background-color: #fff;
    border: 1px solid #d3dae1;
    color: #161d26;
    font-size: 13px;
    height: 40px;
    padding: 0 20px;
    width: 100%;
  }
  .form-item-left {
    display: inline-block;
    float: left;
    width: 200px;
    @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
      width: 280px;
    }
  }
  .form-item-right {
    display: inline-block;
    float: right;
    width: 200px;
    @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
      width: 280px;
    }
  }
  input[type=radio] + label {
    font-size: 17px;
    margin-right: 30px;
    &:hover {
      color: #e62e4c;
    }
  }
  input[type=radio]:checked + label {
    color: #e62e4c;
  }
  .form-item {
    margin-bottom: 30px;
    &.no-margin {
      margin-bottom: 0;
    }
  }
  .btn-blue {
    background-color: #015995;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    line-height: 40px;
    padding: 0 24px;
    text-decoration: none;
  }
}

#calculate-info-right {
  background-color: #e2f1fc;
  border: 1px solid #cee0ef;
  display: inline-block;
  float: right;
  //height: 652px;
  padding: 19px;
  width: 430px;
  @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
    width: 100%;
  }
  .calc-images-container {
    display: inline-block;
    padding-bottom: 30px;
    height: 370px;
    width: 100%;
    img {
      &:nth-child(2n) {
        float: right;
      }
      &:nth-child(2n+1) {
        float: left;
      }
    }
  }
  .calc-main-info {
    font-size: 15px;
    width: 100%;
    td {
      padding: 1px 0;
    }
    .tr-bold {
      font-weight: 700;
    }
    .formula {
      font-size: 20px;
      padding: 50px 0 10px 0;
      text-align: center;
    }
    .formula-del {
      display: inline-table;
      position: relative;
      margin: 0 5px;
      top: -16px;
      text-align: center;
      &:after {
        background-color: #161d26;
        content: '';
        height: 1px;
        left: 0;
        margin-top: 2px;
        position: absolute;
        top: 50%;
        width: 100%;
      }
      .formula-top {
        display: table-header-group;
        padding: 0 5px;
      }
      .formula-bottom {
        display: table-footer-group;
        padding: 0 5px;
      }
    }
  }
}

#calculate-top-left {
  display: inline-block;
  float: left;
  width: 430px;
  @media screen and (min-width: $breakpoints640) and (max-width: 959px) {
    width: 100%;
  }
  .calc-window-type {
    margin-bottom: 40px;
    .btn-blue {
      display: none;
    }
  }
  h2 {
    margin-bottom: 45px;
  }
}

#calculate-bottom {
  display: inline-block;
  width: 100%;
}