@import "vars";
@import "basket";
#cabinet-container.flixo {
    padding-top: 80px;
    @media screen and (max-width: 959px) {
      padding-top: 40px;
    }
  margin-bottom: 40px;
  .flixo_steps{
    margin-top: 20px;
    margin-bottom: 60px;
    .breake {
      display: none;
      &:nth-child(6){
        @media screen and (max-width: $breakpoints1280 - 1) {
          display: block;
        }
        @media screen and (max-width: $breakpoints640 - 1) {
          display: none;
        }
      }
      &:nth-child(4){
        @media screen and (max-width: $breakpoints640 - 1) {
          display: block;
        }
      }
      &:nth-child(8){
        @media screen and (max-width: $breakpoints640 - 1) {
          display: block;
        }
      }
    }
    .flixo_step{
      @media screen and (max-width: $breakpoints640 - 1) {
        display: inline-block;
      }
      position: relative;
      background: $backgraund_arow_noactiv;
      border: 1px solid $border_arow_noactiv;
      padding-left: 45px;
      padding-right: 15px;
      display: inline-block;
      &.active{
        a{
          color:#fff;
        }
        background: $backgraund_arow_activ;
        &:after{
          border-left-color: $backgraund_arow_activ;
        }
        &:before{
          border-left-color: $border_arow_activ;
        }
      }
      &.selectd_prev{
        a{
          color:#fff;
        }
        background: $backgraund_arow_select_prev;
        &:after{
          border-left-color: $backgraund_arow_select_prev;
        }
        &:before{
          border-left-color: $border_arow_select_prev;
        }
      }
      &.selected{

      }
      &:nth-child(1){
        padding-left: 15px;
        z-index: 5;
      }
      &:nth-child(3){
        z-index: 4;
        margin-left: -6px;
      }
      &:nth-child(5) {
        z-index: 3;
        margin-left: -12px;
        @media screen and (max-width: $breakpoints640 - 1) {
          margin-left: 0px;
          margin-top: 20px;
          padding-left: 20px;
        }
      }
      &:nth-child(7){
        z-index: 2;
        margin-left: -12px;
        @media screen and (max-width: $breakpoints1280 - 1) {
          margin-left: 0px;
          margin-top: 20px;
          padding-left: 20px;
        }
        @media screen and (max-width: $breakpoints640 - 1) {
          margin-left: -12px;
          margin-top: 0px;
          padding-left: 50px;
        }
      }
      &:nth-child(9) {
        z-index: 1;
        margin-left: -12px;
        @media screen and (max-width: $breakpoints640 - 1) {
          margin-left: 0px;
          margin-top: 20px;
          padding-left: 20px;
        }
      }
      a{

        padding-right: 0;
        padding-left: 0;
        font-family: "Ubuntu", helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 50px;
        color: #161d26;
        vertical-align: middle;
        display: inline-block;
      }

      &:hover{
      }
      &:after{
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(34, 151, 230, 0);
        border-left-color: $backgraund_arow_noactiv;
        border-width: 25px;
        margin-top: -25px;
      }
      &:before{
        @extend .flixo_step:after;
        border-color: rgba(255, 255, 255, 0);
        border-left-color: $border_arow_noactiv;
        border-width: 26px;
        margin-top: -26px;
      }
    }
  }
  .upload_flixo {
      margin-top: 60px;
      @media screen and (max-width: 959px) {
        margin-top: 40px;
      }
    .form-actions {
      display: inline-block;
      height: 60px;
      margin: 12px 0 60px 0;
      input[type=submit] {
        @include border-radius(0);
        background-color: $red_text_color;
        border: none;
        color: #fff;
        display: inline-block;
        float: left;
        font-size: 24px;
        height: 60px;
        line-height: 60px;
        padding: 0 40px 0 30px;
        @media screen and (max-width: 959px) {
          font-size: 17px;
        }
      }
      .submit-arrow {
        display: inline-block;
        height: 60px;
        @include background(image-url("red_btn_after_60.png"));
        background-repeat: no-repeat;
        background-position: 0 0;
        position: relative;
        width: 33px;
        &:before {
          @include background(image-url("red_btn_icon.png"));
          background-repeat: no-repeat;
          background-position: center;
          content: '';
          height: 60px;
          position: absolute;
          left: -8px;
          width: 16px;
          z-index: 3;
          border-left-color: #fff;
        }
      }
      &:hover {
        input[type=submit] {
          background-color: #ff4060;
        }
        .submit-arrow{
          background-position: 0 -60px;
        }
      }
    }
  }
  .svg_controls,#svg_controls {
    position: absolute;
    right: 15px;
    top: 15px;

    text-align: center;
    i {
      margin: 3px;
      background: none;
      border: 0px;
      color: #005c99;
      cursor: pointer;
      background: white;
      border-radius: 13px;
      width: 26px;
      height: 26px;
      display: inline-block;
      line-height: 26px;
      &:hover {
        background: white;
        border: 0px;
        color: blue;
      }


    }

    div.controls-zoom, div.controls-pan {
      float: right;
    }
    div.controls-pan {
      margin-left: 30px;
      position: relative;
      i {
        font-size: 27px;
        margin: 0px;
        &.fa-arrow-down {
          position: absolute;
          bottom: 5px;
          left: 50%;
          margin-left: -13px;
        }
        &.fa-arrow-up {
          position: absolute;
          top: 5px;
          left: 50%;
          margin-left: -13px;
        }
        &.fa-arrow-left {
          float: left;
          position: absolute;
          top: 50%;
          left: 5px;
          margin-top: -13px;
        }
        &.fa-arrow-right {
          float: right;
          position: absolute;
          top: 50%;
          right: 5px;
          margin-top: -13px;
        }
      }
    }

    div.controls-zoom {
      margin-left: 20px;
    }
    .controls-pan {
      width: 126px;
      height: 126px;
      border-radius: 60px;
      background: white;
    }
  }
  .svg_wrap {
    position: relative;
    .svg_data {
      display: none;
    }
    .svg,#svg {
      width: 100%;
      height: 600px;
      background: #B0E0E6;
    }
    .svg_notice {
      position: absolute;
      display: none;
      text-align: center;
      padding: 45px;
      background: white;
      box-sizing: border-box;
      z-index: 2;
      font-size: 17px;
      max-width: 600px;
      .title {
        font-weight: bold;
      }
      .text {
        padding-top: 10px;
        color: #5d6978;
      }
      .close_notice {
        padding: 0px 20px;
        background: #e62e4c;
        color: white;
        display: inline-block;
        margin-top: 20px;
        line-height: 40px;
      }
    }
    .svg_notice_bg {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      display: none;
    }
    .item_group_block {
      background: white;
      position: absolute;
      top:12px;
      left: 16px;
      padding: 22px 28px 13px 28px;
      display: none;
      .color_block {
        background-color: $red_text_color;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        width: 43px;
        height: 32px;
        position: relative;
        text-decoration: none;
        z-index: 2;
        border: none;
        float: left;

        .top_triangle {
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 9px 17px 0;
          border-color: transparent #ffffff transparent transparent;
          top: 0px;
          right: 0px;
        }
        .bottom_triangle {
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 17px 9px;
          border-color: transparent transparent #ffffff transparent;
          bottom: 0px;
          right: 0px;
        }
      }
      .name {
        line-height: 20px;
        display: inline-block;
        float: left;
        padding-left: 20px;
        font-size: 17px;
        font-weight: bold;
        color: #161d26;
        max-width: 360px;
        position: relative;
        top: 6px;
      }
      .buttons {
        clear: both;
        padding-top: 22px;
        span {
          display: inline-block;
          line-height: 40px;
          padding: 0px 23px;
          font-size: 17px;
          color: white;
          background: #015995;
          cursor: pointer;
          margin-right: 10px;
          &.button_ungroup {
            background: #e62e4c;

            &.hidden {
              display: none;
            }
          }
          &.button_ready {
            background: #e62e4c;
            display: none;
            text-align: center;
            &.visible {
              display: inline-block;
            }
          }
          &.button_no {

          }
          i {
            padding-left: 10px;
          }
          &.button_yes {
            &.hidden {
              display: none;
            }
          }
          &.button_prev {
            i {
              padding-left: 0px;
              padding-right: 10px;
            }
          }
        }
      }
    }
    .item_group_block_change {
      display: none;
      .buttons_top {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 8px;

        span {
          display: inline-block;
          line-height: 40px;
          padding: 0px 23px;
          font-size: 17px;
          color: white;
          background: #015995;
          cursor: pointer;
          &.button_ungroup {
            background: #e62e4c;
            &.hidden {
              display: none;
            }
          }

          i {
            margin-right: 10px;
          }
          &.button_menu {
            width: 40px;
            padding: 0px;
            text-align: center;
            i {
              margin: 0px;
            }
          }
        }

      }
      .buttons_right {
        span {
          display: inline-block;
          line-height: 40px;
          padding: 0px 23px;
          font-size: 17px;
          color: white;
          background: #015995;
          cursor: pointer;
          min-width: 165px;
          margin-bottom: 1px;
          i {
            margin-right: 10px;
          }
          &.button_ready {
            background: #e62e4c;
            display: none;
            text-align: center;
            &.visible {
              display: inline-block;
            }
          }
          &.button_menu {
            width: 40px;
            padding: 0px;
            text-align: center;
            i {
              margin: 0px;
            }
          }
          &.button_next {
            &.hidden {
              display: none;
            }
          }
        }
      }
      .material_list_wrap {
        position: absolute;
        left: 8px;
        top: 56px;
        width: 292px;
        background: #ffffff;
        padding: 15px 11px;
        box-sizing:border-box;
        padding-left: 0px;
        .material_list_top {
          color: #9097a2;
          font-size: 17px;
          padding-right: 11px;
          padding-bottom: 6px;
          padding-left: 11px;
          input {
            padding-left: 5px;
            width: 100%;
            box-sizing:border-box;
          }
        }
        .material_item {
          padding: 10px 11px;
          cursor: pointer;
          font-size: 15px;
          line-height: 16px;
          width: 260px;
          .color_name {
            //padding-left: 41px;
           // word-wrap: break-word;
            position: relative;
            padding-left: 41px;
            min-height: 32px;
            /*width: 100%;
            box-sizing: border-box;*/
          }
          .color_block {
            color: #fff;
            display: inline-block;
            font-weight: bold;
            width: 32px;
            height: 32px;
            position: relative;
            text-decoration: none;
            z-index: 2;
            border: none;
            float: left;
            position: absolute;
            top: 0px;
            left: 0px;
          }
          .name {
            word-wrap:break-word;
          }
          &.active,&:hover {
            background: #e5e9ed;
            font-weight: bold;
            .color_name {
              padding-left: 51px;
            }
            .color_block {
              width: 41px;
              .top_triangle {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 9px 17px 0;
                border-color: transparent #e5e9ed transparent transparent;
                top: 0px;
                right: 0px;
              }
              .bottom_triangle {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 17px 9px;
                border-color: transparent transparent #e5e9ed transparent;
                bottom: 0px;
                right: 0px;
              }
            }
          }
        }
      }
      .buttons_right {
        position: absolute;
        top: 56px;
        left: 308px;
      }
    }
    .notice_ready {
      .ready_button {
        a {
          display: inline-block;
          background: #e62e4c;
          line-height: 40px;
          padding: 0px 23px;
          color: white;
          margin: 20px 0px;
          margin-bottom: 10px;
        }
      }
      .what_to_do {
        a {
          display: inline-block;
          background: #015995;
          line-height: 40px;
          padding: 0px 23px;
          color: white;
          margin: 20px 0px;
          margin-bottom: 10px;
        }
      }
    }
    .create_material {
      position: absolute;
      top: 8px;
      left: 8px;
      background: white;
      width: 292px;
      padding: 10px;
      box-sizing: border-box;
      display: none;
      .close_create {
        width: 46px;
        height: 46px;
        position: absolute;
        right: -54px;
        top: 0px;
        background: #015995;
        color: white;
        font-size: 26px;
        text-align: center;
        line-height: 46px;
        cursor: pointer;
      }
      .colot_title {
        padding-bottom: 10px;
      }
      .color {
        width: 38px;
        height: 38px;
        display: inline-block;
        float: left;
      }
      .title {
        padding-left: 10px;
        line-height: 38px;
        font-size: 14px;
        display: inline-block;
      }
      .inputs {
        & > div {
          padding-bottom: 8px;
        }
        .label_create {
          color: #161d26;
          display: inline-block;
          line-height: 30px;
          width: 62px;
        }
        .label_create_textarea {
          float: left;
        }
        input {
          width: 97px;
          height: 30px;
          border: 1px solid #bababa;
          box-sizing: border-box;
          font-size: 17px;
          &.error {
            border: 1px solid #e62e4c;
          }
        }
        textarea {
          width: 210px;
          resize: none;
          &.error {
            border: 1px solid #e62e4c;
          }
        }
      }
      .create_ready {
        position: absolute;
        width: 160px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: white;
        font-size: 17px;
        bottom: -60px;
        background: #e62e4c;
        cursor: pointer;
      }
    }
    .chose_temperature {
      display: none;
      position: absolute;
      top: 8px;
      left: 8px;
      .chose_temperature_left {
        float: left;
        .text {
          padding: 12px;
          background: white;
          width: 375px;
          box-sizing: border-box;
          font-size: 17px;
        }
        #chose_temperature_point {
          padding-top: 15px;
          &>span {
            width: 30px;
            height: 30px;
            padding: 5px;
            background: #ffffff;
            @include border-radius(10px);
            display: inline-block;
            margin-left: 15px;
            cursor:pointer;
            span {
              width: 18px;
              height: 18px;
              @include border-radius(5px);
              display: inline-block;
            }
            &.blue_point {
              @include background(image-url("ext_normal.png"));
              &:hover, &.active {
                @include background(image-url("ext_hover.png"));
              }
            }
            &.red_point {
              @include background(image-url("int_normal.png"));
              &:hover, &.active {
                @include background(image-url("int_hover.png"));
              }
            }
            &.hidden {
              display: none;
            }
          }
        }
      }
      .chose_temperature_right {
        float: left;
        .button_interior, .button_reset_temperature {
          display: inline-block;
          line-height: 40px;
          padding: 0px 23px;
          font-size: 17px;
          color: white;
          background: #015995;
          cursor: pointer;
          min-width: 165px;
          margin-left: 7px;
        }
        .button_reset_temperature {
          margin-left: 4px;
          min-width: auto;
        }
        i {
          margin-right: 15px;
        }
        .temperature_ready {
          display: inline-block;
          line-height: 40px;
          padding: 0px 23px;
          font-size: 17px;
          color: white;
          cursor: pointer;
          min-width: 100px;
          background: #e62e4c;
          text-align: center;
          margin-left: 7px;
          margin-top: 4px;
          &.hidden {
            display: none;
          }
        }
      }
    }
    .notice_temperature {
      .buttons {
        padding-top: 20px;
      }
      .button_cheak {
        display: inline-block;
        line-height: 40px;
        padding: 0px 23px;
        font-size: 17px;
        color: white;
        background: #015995;
        cursor: pointer;
        min-width: 100px;
        margin-left: 7px;
      }
      .button_low_emission {
        display: none;
      }
      .button_result {
        display: inline-block;
        line-height: 40px;
        padding: 0px 23px;
        font-size: 17px;
        color: white;
        cursor: pointer;
        min-width: 100px;
        background: #e62e4c;
        text-align: center;
      }
    }
  }
  .save_pdf {
    text-align: right;
    a {
      display: inline-block;
      line-height: 40px;
      padding: 0px 23px;
      font-size: 17px;
      color: white;
      background: #015995;
      cursor: pointer;
      min-width: 100px;
    }
  }
  .svg_wrap_result {
    position: relative;
    background: #c9e5fa;
    margin-top: 10px;
    padding: 10px;
    padding-top: 10px;
    .svg_data {
      display: none;
    }
    svg {
      height: 400px;
    }
    .result_table {
      width: 100%;
      background: white;
      margin-top: 30px;
      &.mobile {
        display: none;
      }
      .word_breake {
        width: 125px;
      }
      thead {
        th {
          font-size: 16px;
          //font-weight: bold;
          padding: 14px;
          white-space: nowrap;
          border-right: 1px solid #ffffff;
          line-height: 19px;
          vertical-align: middle;
          background: #007acc;
          color: white;
        }
      }
      tbody {

        td {
          border-right: 1px solid #b3ccdf;
          padding: 8px 11px;
          word-wrap: break-word;
          .color_block {
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-right: 25px;
            float: left;
          }
        }
        tr:nth-child(2n) {
          background: #ebf5fd;
        }
      }
    }
    .result_buttons {
      padding-top: 10px;
      text-align: center;
      a {
        line-height: 40px;
        font-size: 17px;
        color: white;
        padding: 0px 10px;
        background: #e62e4c;
        display: inline-block;
        position: relative;
        &.blue {
          background: #4f8fbc;
          &:before {
            left: -40px;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(34,151,230,0);
            border-right-color: #4f8fbc;
            border-width: 20px;
            margin-top: -20px;
          }
        }
        &.result_calculate {
          &:before {
            right: -40px;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(34,151,230,0);
            border-left-color: #e62e4c;
            border-width: 20px;
            margin-top: -20px;
          }
        }
      }
    }
    .result_optimaze {
      /*text-align: center;
      padding-top: 15px;
      padding-bottom: 10px;
      a {
        line-height: 58px;
        font-size: 17px;
        color: white;
        padding: 0px 30px;
        background: #015995;
        display: inline-block;
        position: relative;
      }*/
      margin-top: 30px;
      background: white;
      padding: 30px;
      font-size: 15px;
      label {
        display: block;
        margin-bottom: 10px;
      }
      .form-actions {
        display: inline-block;
        height: 40px;
        margin: 12px 0 0px 0;
        input[type=submit] {
          @include border-radius(0);
          background-color: #015995;
          border: none;
          color: #fff;
          display: inline-block;
          float: left;
          font-size: 17px;
          height: 40px;
          line-height: 40px;
          padding: 0 0px 0 20px;
          @media screen and (max-width: 959px) {
            font-size: 17px;
          }
        }
        .submit-arrow {
          display: inline-block;
          height: 40px;
          position: relative;
          width: 33px;
          &:before {
            //right: -40px;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(34,151,230,0);
            border-left-color: #015995;
            border-width: 20px;
            margin-top: -20px;
          }
        }
        &:hover {
          input[type=submit] {
            background-color: #015995;
          }
        }
      }
    }
    .result_formula {
      background: white;
      padding: 24px;
      margin-top: 15px;
      margin-bottom: 15px;
      .top_part {
        font-size: 17px;
        font-weight: bold;
      }
      table {
        margin: 0 auto;
        font-size: 24px;
        color: #161d26;
        sub, sup {
          font-size: 50%;
        }
        td {
          padding: 0px 5px;
          text-align: center;
          &.border_bottom {
            border-bottom: 1px solid #bfbfbf;
          }
          &.border_top {
            border-top: 1px solid #bfbfbf;
          }
        }
      }
    }
  }
  .leave_messageform {
    padding-top: 40px;
    @media screen and (max-width: $breakpoints640 - 1){
      padding-left: 20px;
      padding-right: 20px;
    }
    .big_text {
      max-width: 790px;
      font-size: 30px;
      color: #000000;
      margin: 0 auto;
      font-weight: 300;
      line-height: 34px;
      text-align: center;
      @media screen and (max-width: $breakpoints960 - 1) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media screen and (max-width: $breakpoints640 - 1){
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .small_text {
      font-size: 17px;
      font-weight: bold;
      padding-top: 40px;
      text-align: center;
    }
    .leave_messageform_wrap {
      max-width: 450px;
      margin: 0 auto;
      padding-top: 70px;
      .leave_messageform_link {
        float: right;
        font-size: 13px;
        color: #e62e4c;
        text-decoration: underline;
      }
      #profile-edit-form {
        display: inline-block;
        margin-top: 0px;
        width: 100%;
        .form-item {
          display: inline-block;
          margin-bottom: 17px;
          width: 100%;
        }
        label {
          color: #5d6978;
          font-size: 13px;
          margin: 0;
          @media screen and (max-width: $breakpoints960 - 1) {
            font-size: 11px;
          }
        }
        input[type=text],
        input[type=email] {
          @include box-sizing(border-box);
          @include border-radius(0);
          border: 1px solid #161d26;
          color: #161d26;
          font-size: 13px;
          height: 40px;
          padding: 0 15px;
          width: 100%;
          @media screen and (max-width: $breakpoints960 - 1) {
            font-size: 11px;
          }
        }
        .form-actions_wrap {
          text-align: center;
        }
        .form-actions {
          display: inline-block;
          height: 60px;
          margin: 12px 0 0px 0;
          input[type=submit] {
            @include border-radius(0);
            background-color: $red_text_color;
            border: none;
            color: #fff;
            display: inline-block;
            float: left;
            font-size: 24px;
            height: 60px;
            line-height: 60px;
            padding: 0 40px 0 30px;
            @media screen and (max-width: 959px) {
              font-size: 17px;
            }
          }
          .submit-arrow {
            display: inline-block;
            height: 60px;
            @include background(image-url("red_btn_after_60.png"));
            background-repeat: no-repeat;
            background-position: 0 0;
            position: relative;
            width: 33px;
            &:before {
              @include background(image-url("red_btn_icon.png"));
              background-repeat: no-repeat;
              background-position: center;
              content: '';
              height: 60px;
              position: absolute;
              left: -8px;
              width: 16px;
              z-index: 3;
              border-left-color: #fff;
            }
          }
          &:hover {
            input[type=submit] {
              background-color: #ff4060;
            }
            .submit-arrow {
              background-position: 0 -60px;
            }
          }
        }

      }
    }
  }
  .comments{
    padding-top: 55px;
    max-width: 900px;
    margin: 0 auto;
    ul{
      padding: 0;
      li{
        background: none;
        list-style: none;
        border-top: 1px solid #d3dae1;
        .commetn-post{
          @include clearfix();
          .icon1{
            float: left;
          }
        }
        .comment-text{
          margin-top: 20px;
          margin-bottom: 20px;
          color: #161d26;
          font-size: 17px;
          line-height: 24px;
          font-family: "Ubuntu", helvetica, Arial, sans-serif;
        }
        & > ul{
          padding-left: 50px;
          & > ul{
            padding-left: 100px;

          }
        }
      }
    }
  }
  .add_new_comment {
    max-width: 900px;
    margin: 0 auto;
    .comment-reply.active {
      .comment-reply-content {
        @media screen and (max-width: $breakpoints1280 - 1px) {
          display: none;
        }
      }
    }
  }
  .comment-reply {
    .comment-reply-content {
      display: none;
    }
    &.active {
      .comment-reply-content {
        display: block;
      }
    }
    .comment-reply-link {
      color: #005c99;
      font-size: 13px;
      border-bottom: 1px dashed #015995;
      line-height: 35px;
      cursor: pointer;
    }
    .comment-reply-title {
      color: #5d6978;
      font-size: 13px;
      line-height: 35px;
    }
    form {
      textarea {
        border: 1px solid #161d26;
        width: 100%;
        resize: none;
        height: 100px;
      }
      input[type="submit"] {
        color: white;
        background: #e62e4c;
        height: 60px;
        border: 0px;
        margin-top: 10px;
        font-size: 17px;
        padding: 0px 35px;
        margin-bottom: 30px;
        @media screen and (max-width: $breakpoints960 - 1px) {
          line-height: 40px;
        }
      }
    }
  }
  .add_new_comment_link {
    color: white;
    background: #e62e4c;
    line-height: 60px;
    border: 0px;
    margin-top: 10px;
    font-size: 17px;
    padding: 0px 35px;
    margin-bottom: 30px;
    display: none;
    margin-top: 20px;
    @media screen and (max-width: $breakpoints1280 - 1px) {
      display: inline-block;
    }
    @media screen and (max-width: $breakpoints960 - 1px) {
      line-height: 40px;
    }
  }
  .author {
    padding-top: 40px;
    @media screen and (max-width: $breakpoints960 - 1) {
      padding-top: 20px;
    }
    .author_img {
      float: left;
      img {
        display: block;
      }
    }
    .icon_wrap {
      float: left;
      position: relative;
      height: 60px;
      .tooltip_blog_wrap {
        position: absolute;
        top: 70px;
        left: 0px;
        display: none;
      }
      &:hover {
        .tooltip_blog_wrap {
          display: block;
        }
      }
      .tooltip_blog {
        font-size: 13px;
        color: #5d6978;
        &:before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 10px;
          width: 11px;
          height: 18px;
          background: url('../../images/tooltip-pointer.png');
        }
      }
      .tooltip_blog {
        white-space: nowrap;
        display: inline-block;
        position: relative;
        border: 1px solid #d3dae1;
        top: 18px;
        padding: 15px 20px;
        margin-bottom: 18px;
        font-size: 13px;
        line-height: 17px;
        background: #ffffff;
      }
    }
    .icon1 {
      background-image: url('../../images/profile_form_icon.png');
      background-color: #e62e4c;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      height: 60px;
      width: 60px;
    }
    .blog_author2 {
      background-image: url('../../images/blog_author2.jpg');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      height: 60px;
      width: 60px;
    }
    .blog_author3 {
      background-image: url('../../images/blog_author3.jpg');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      height: 60px;
      width: 60px;
    }
    .t_wrap {
      float: left;
      padding-left: 20px;
      .t {
        font-size: 13px;
        color: #5d6978;
        line-height: 17px;
        display: table-cell;
        height: 60px;
        vertical-align: middle;
        .author_name {
          color: #005c99;
          font-size: 17px;
          cursor: pointer;
        }
      }
    }
    .blu_ico {
      background-image: url('../../images/blu_ico.jpg');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      float: right;
      height: 60px;
      width: 60px;
      @media screen and (max-width: $breakpoints640 - 1) {
        float: none;
        clear: both;
        display: block;
      }
    }
  }
}

#cabinet-container.flixo.svg {
  @media screen and (max-width: $breakpoints640 - 1) {
    h1 {
      display: none;
    }
    .flixo_steps {
      display: none;
    }
    .query_wrap {
      display: none;
    }
  }
  .filtr {
    @media screen and (max-width: $breakpoints1280 - 1) {
      width: 100%;
      .menu {
        width: 100%;
        .btn-filtr {
          display: inline-block;
          float: left;
          width: 187px;
          margin-left: 0px;
          margin-right: 20px;
          @media screen and (max-width: $breakpoints640 - 1) {
            width: 100%;
            margin-right: 0px;
          }
          a {
            font-size: 15px;
            padding-left: 0;
            text-align: center;
          }
        }
      }
    }
  }
  .profile-content {
    @media screen and (max-width: $breakpoints1280 - 1) {
      width: 100%;
    }
    .breake {
      display: none;
      &:nth-child(6){
        @media screen and (max-width: $breakpoints1280 - 1) {
          //display: block;
        }
        @media screen and (max-width: $breakpoints640 - 1) {
          display: none;
        }
      }
      &:nth-child(4){
        @media screen and (max-width: $breakpoints640 - 1) {
          display: block;
        }
      }
      &:nth-child(8){
        @media screen and (max-width: $breakpoints640 - 1) {
          display: block;
        }
      }
    }
    .flixo_steps {
      @media screen and (max-width: $breakpoints1280 - 1) {
        .flixo_step {
          &:nth-child(7) {
            margin-left: -12px;
            margin-top: 20px;
            padding-left: 45px;
          }
        }
      }
      @media screen and (max-width: $breakpoints960 - 1) {
        .flixo_step {
          &:nth-child(7) {
            margin-left: 0px;
            margin-top: 20px;
            padding-left: 20px;
          }
        }
      }
    }
  }
  .svg_wrap {
    @media screen and (max-width: $breakpoints960 - 1) {
      .svg_notice {
        .title {
          font-size: 15px;
        }
        .text {
          font-size: 13px;
        }
      }
      .svg_controls {
        bottom: 15px;
        top: inherit;
      }
      .item_group_block {
        padding: 15px;
        .color_block {
          width: 25px;
          height: 20px;
          .top_triangle {
            border-width: 0 5px 10px 0;
          }
          .bottom_triangle {
            border-width: 0 0 10px 5px;
          }
        }
        .name {
          font-size: 15px;
          top: 0px;
          font-weight: normal;
          padding-left: 10px;
        }
        .buttons {
          padding-top: 15px;
          span {
            padding: 0px 15px;
            font-size: 15px;
            margin-right: 5px;
          }
        }
      }
      .item_group_block_change {
        .buttons_top {
          span {
            padding: 0px 15px;
            font-size: 15px;
          }
        }
        .material_list_wrap {
          width: 390px;
          .material_list_top {
            font-size: 13px;
          }
          .material_item {
            width: 369px;
            .color_block {
              width: 20px;
              height: 20px;
              .top_triangle {
                border-width: 0 5px 10px 0;
              }
              .bottom_triangle {
                border-width: 0 0 10px 5px;
              }
            }
            &:hover, &.active {
              .color_block {
                width: 25px;
              }
            }
            .color_name {
              padding-left: 38px;
              br {
                display: none;
              }
            }
          }
        }
        .buttons_right {
          left: 406px;
          span {
            padding: 0px 15px;
            font-size: 15px;
            min-width: 140px;
          }
        }
      }
      .create_material {
        .color {
          width: 20px;
          height: 20px;
        }
        .title {
          line-height: 20px;
        }
        .create_ready {
          position: relative;
          width: 100px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: white;
          font-size: 15px;
          bottom: inherit;
          background: #e62e4c;
          cursor: pointer;
        }
        .close_create {
          width: 40px;
          height: 40px;
          line-height: 40px;
          right: -48px;
          font-size: 20px;
        }
      }
      .chose_temperature {
        .chose_temperature_left .text {
          width: 297px;
          font-size: 15px;
          line-height: 17px;
        }
        .chose_temperature_right {
          .button_interior {
            padding: 0px 15px;
            font-size: 15px;
            min-width: 150px;
          }
          .temperature_ready {
            padding: 0px 15px;
            font-size: 15px;
          }
        }
      }
      .notice_temperature {
        padding: 25px;
        width: 310px;
        .buttons {
          .button_cheak {
            padding: 0px 23px;
            font-size: 15px;
            margin-left: 0px;
            margin-bottom: 5px;
          }
          .button_result {
            padding: 0px 23px;
            font-size: 15px;
          }
        }
      }
    }
  }
  .svg_wrap_result  {
    .result_formula {
      @media screen and (max-width: $breakpoints960 - 1) {
        .top_part {
          font-size: 15px;
        }
        table {
          font-size: 15px;
        }
      }
    }
    @media screen and (max-width: $breakpoints960 - 1) {
      .result_buttons {
        .mobile_separate {
          display: block;
          height: 15px;
        }
      }
    }
    .result_table {
      @media screen and (max-width: $breakpoints960 - 1) {
        thead {
          th {
            font-size: 13px;
            font-weight: normal;
          }
        }
        tbody {
          td {
            font-size: 13px;
          }
        }
        .word_breake {
          width: 100px;
        }
        &.mobile {
          display: block;
        }
        &.descktop {
          display: none;
        }
      }
    }
  }
  .mobile_svg {
    display: none;
    font-size: 30px;
    color: #161d26;
    text-align: center;
    padding: 40px 0px;
    @media screen and (max-width: $breakpoints640 - 1) {
      display: block;
    }
  }
  .save_pdf {
    @media screen and (max-width: $breakpoints640 - 1) {
      display: none;
    }
  }
  .svg_wrap_result,.svg_wrap {
    @media screen and (max-width: $breakpoints640 - 1) {
      display: none;
    }
  }
}

#cabinet-container.flixo_lk {
  .my-articles-table tr td.td20 {
    img {
      @media screen and (max-width: $breakpoints1280 - 1) {
        width: 150px;
        height: auto;
      }
    }
    @media screen and (max-width: $breakpoints960 - 1) {
      width: 20%;
    }
  }
}

#cabinet-container.flixo {
  .seats_dimentions {
    .title {
      font-size: 24px;
      color: #161d26;
      line-height: 26px;
      padding-bottom: 30px;
      font-weight: bold;
    }
    .seats_dimentions_item {
      padding-bottom: 2px;
      .value {
        color: #161d26;
        font-size: 17px;
        line-height: 36px;
        display: inline-block;
        min-width: 60px;
        padding-right: 10px;
      }
      input {
        display: none;
      }
      .close {
        width: 36px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        color: white;
        background: #015995;
        float: none;
        text-align: center;
        opacity: 1;
        font-size: 20px;
      }
    }
  }
  .seats_dimentions_add {
    padding-bottom: 40px;
    label {
      display: block;
      padding-top: 30px;
      font-size: 13px;
      color: #5d6978;
      margin-bottom: 0px;
    }
    input {
      height: 40px;
      line-height: 40px;
    }
    .append_dimention {
      display: inline-block;
      color: #161d26;
      font-size: 17px;
      line-height: 40px;
      padding: 0px 22px;
      border: 1px solid #d3dae1;
      margin-top: 10px;
      cursor: pointer;
    }
  }
  .show_material,.show_isoterm,.show_calculate {
    position: relative;
  }

  .show_isoterm,.show_calculate {
    display: none;
  }
  .svg_wrap_result .result_buttons a {
    &.show_materials {
      display: none;
    }
  }
}

#cabinet-container .section .profile-content .calc-wrap h3,
#cabinet-container .section .profile-content .calc-wrap-left h3,
#cabinet-container .section .profile-content .calc-wrap-right h3
{
  margin-top: 10px
}