@import "vars";
@import "basket";

#cabinet-container.flixo.svg {
  .svg_wrap .item_group_block_change .buttons_top span {
    &.button_low_emission {
      display: none;
    }
  }
  .change_to_air {
    line-height: 19px;
    padding: 10px 23px;
    font-size: 17px;
    color: white;
    background: #015995;
    cursor: pointer;
    margin: 5px 0px;
  }
  .preload_data {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include background(image-url("loading_spinner.gif"));
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.5);
    display: none;
  }
  .notice_error_post {
    z-index: 15;
  }
  .ready_no {
    text-align: center;
    a {
      display: inline-block;
      background: #015995;
      line-height: 40px;
      padding: 0px 23px;
      color: white;
      margin: 0px;
      margin-bottom: 10px;
    }
  }
}

#cabinet-container.flixo {
  .upload_flixo .chose_file {
      font-size: 17px;
      color: #161d26;
      line-height: 60px;
      display: inline-block;
      padding: 0px 20px;
      margin-right: 20px;
      background: #015995;
      color: #ffffff;
      border: 1px solid #015995;
      @media screen and (max-width: $breakpoints960 - 1) {
        line-height: 40px;
        font-size: 15px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        line-height: 60px;
        width: 100%;
        display: block;
      }
  }
  .result_buttons {
    a {
      &.show_materials {
        &:before {
          right: -40px;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(34,151,230,0);
          border-left-color: #e62e4c;
          border-width: 20px;
          margin-top: -20px;
        }
      }
    }
  }

  .svg_controls,#svg_controls {

    position: absolute;
    right: 15px;
    top: 15px;

    text-align: center;
    i {
      margin: 3px;
      background: none;
      border: 0px;
      color: #005c99;
      cursor: pointer;
      background: white;
      border-radius: 13px;
      width: 26px;
      height: 26px;
      display: inline-block;
      line-height: 26px;
      &:hover {
        background: white;
        border: 0px;
        color: blue;
      }


    }

    div.controls-zoom, div.controls-pan {
      float: right;
    }
    div.controls-pan {
      margin-left: 30px;
      position: relative;
      i {
        font-size: 27px;
        margin: 0px;
        &.fa-arrow-down {
          position: absolute;
          bottom: 5px;
          left: 50%;
          margin-left: -13px;
        }
        &.fa-arrow-up {
          position: absolute;
          top: 5px;
          left: 50%;
          margin-left: -13px;
        }
        &.fa-arrow-left {
          float: left;
          position: absolute;
          top: 50%;
          left: 5px;
          margin-top: -13px;
        }
        &.fa-arrow-right {
          float: right;
          position: absolute;
          top: 50%;
          right: 5px;
          margin-top: -13px;
        }
      }
    }

    div.controls-zoom {
      margin-left: 20px;
    }
    .controls-pan {
      width: 126px;
      height: 126px;
      border-radius: 60px;
      background: white;
    }
  }
  @media screen and (max-width: $breakpoints960 - 1) {

    .svg_controls {
      bottom: 15px;
      top: inherit;
    }
  }
  .show_material,.show_isoterm,.show_calculate {
    position: relative;
  }

  .show_isoterm,.show_calculate {
    display: none;
  }
  .svg_wrap_result .result_buttons a {
    &.show_materials {
      display: none;
    }
  }
  .h3 {

  }
}