@import "vars";
#iqub-container.foam {
  .foam_first_img {
    @include background(image-url("foam_first_img.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 610px;
    padding-bottom: 25px;
    .first_text {
      font-size: 28px;
      color: #ffffff;
      font-weight: bold;
      padding-top: 190px;
      @media screen and (max-width: $breakpoints1280 - 1) {
        padding-top: 150px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        padding-top: 165px;
        font-size: 20px;
      }
    }
    .second_text {
      font-size: 50px;
      color: #ffffff;
      font-weight: bold;
      padding-top: 55px;
      line-height: 52px;
      @media screen and (max-width: $breakpoints1280 - 1) {
        font-size: 45px;
      }
      @media screen and (max-width: $breakpoints960 - 1) {
        font-size: 40px;
        line-height: 42px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        padding-top: 60px;
        font-size: 30px;
      }
    }
    .button {
      text-align: center;
      padding-top: 92px;
      .red {
        background-color: #e62e4c;
        color: #fff;
        display: inline-block;
        font-size: 22px;
        height: 64px;
        line-height: 64px;
        padding: 0 75px 0 75px;
        text-decoration: none;
        &:hover {
          color: #fff;
          background-color: #ff4060;
          text-decoration: none;
        }
      }
    }
  }
  .top_links {
    padding-top: 40px;
    .width33 {
      width: 33.33%;
      float: left;
      text-align: center;
      min-height: 10px;
      @media screen and (max-width: $breakpoints1280 - 1) {
        width: 100%;
        padding-bottom: 10px;
        br {
          display: none;
        }
      }
      a {
        color: #3d9fe8;
        font-size: 18px;
        text-decoration: underline;
        line-height: 20px;
      }
    }
  }
  .text_background {
    padding-bottom: 75px;
    text-align: center;
    @media screen and (max-width: $breakpoints640 - 1) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .big_text {
      font-size: 48px;
      color: #161d26;
      font-weight: bold;
      text-transform: uppercase;
      @media screen and (max-width: $breakpoints640 - 1) {
        font-size: 36px;
      }
    }
    .small_text {
      padding-top: 25px;
      font-size: 16px;
      color: #000000;
      line-height: 18px;
      //width: 300px;
      margin: 0 auto;
      @media screen and (max-width: $breakpoints640 - 1) {
        width: auto;
      }
    }
  }
  .foam_europe {
    height: 704px;
    @include background(image-url("foam_europe.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: $breakpoints640 - 1) {
      height: auto;
    }
    .blue_text {
      margin: 0 auto;
      margin-top: 160px;
      background: #005c99;
      font-size: 24px;
      color: #ffffff;
      width: 550px;
      padding: 0px 72px;
      padding-top: 75px;
      padding-bottom: 40px;
      font-weight: 300;
      text-align: center;
      line-height: 28px;
      @media screen and (max-width: $breakpoints640 - 1) {
        padding: 20px;
        width: auto;
        font-size: 16px;
        line-height: 20px;
        margin: 50px auto;
      }
    }
  }
  .white_text {
    padding: 80px 0px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    font-weight: 300;
  }
  .foam_stefan_bg {
    height: 700px;
    @include background(image-url("foam_stefan_bg.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px;
    @media screen and (max-width: $breakpoints960 - 1) {
      height: auto;
    }
    @media screen and (max-width: $breakpoints640 - 1) {
      padding: 45px 20px;
    }
  }
  .foam_stefan {
    width: 918px;
    height: 459px;
    margin: 0 auto;
    background: #005c99;
    @media screen and (max-width: $breakpoints960 - 1) {
      width: 100%;
      height: 267px;
    }
    @media screen and (max-width: $breakpoints640 - 1) {
      height: auto;
    }
    .foam_stefan_text {
      width: 50%;
      float: left;
      height: 459px;
      @media screen and (max-width: $breakpoints960 - 1) {
        height: 267px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        width: 100%;
        float: none;
      }
    }
    .foam_stefan_img {
      width: 50%;
      float: right;
      height: 459px;
      @media screen and (max-width: $breakpoints960 - 1) {
        height: 267px;
        img {
          width: 100%;
          height: auto;
        }
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        width: 100%;
        float: none;
        height: auto;
      }
    }
    .foam_stefan_text {
      color: #ffffff;
      font-weight: 300;
      padding-left: 50px;
      box-sizing: border-box;
      @media screen and (max-width: $breakpoints960 - 1) {
        padding-left: 20px;
      }
      .first_text {
        padding-top: 95px;
        font-size: 48px;
        text-transform: uppercase;
        @media screen and (max-width: $breakpoints960 - 1){
          padding-top: 30px;
          font-size: 32px;
        }
      }
      .second_text {
        padding-top: 30px;
        font-size: 18px;
        @media screen and (max-width: $breakpoints960 - 1){
          padding-top: 15px;
          font-size: 16px;
        }
      }
      .third_text {
        padding-top: 30px;
        font-size: 24px;
        @media screen and (max-width: $breakpoints960 - 1){
          padding-top: 10px;
          font-size: 22px;
        }
      }
    }
  }
  .foam_texts_wrap {
    padding-bottom: 70px;
    .bottom_part {
      .foam_texts {
        padding-top: 35px;
      }
    }
    .foam_texts {
      padding-top: 70px;
      font-size: 17px;
      color: #151515;
      &.width50 {
        width: 50%;
        float: left;
        box-sizing: border-box;
        &:nth-child(2n-1) {
          padding-right: 24px;
          @media screen and (max-width: $breakpoints1280 - 1) {
            padding-right: 0px;
          }
        }
        &:nth-child(2n) {
          padding-left: 24px;
          @media screen and (max-width: $breakpoints1280 - 1) {
            padding-left: 0px;
          }
        }
        @media screen and (max-width: $breakpoints1280 - 1) {
          width: 100%;
          padding: 0px;
          padding-top: 40px;
        }
      }
      &.center_text {
        width: 950px;
        margin: 0 auto;
        text-align: center;
        @media screen and (max-width: $breakpoints1280 - 1) {
          width: 100%;
        }
      }
      .number {
        text-align: center;
        font-weight: 300;
      }
      .title {
        font-weight: bold;
        padding-top: 30px;
      }
      .text {
        font-weight: 300;
        padding-top: 30px;
      }
    }
  }
  .foam_comparison {
    background-color: #005c99;
    .foam_comparison_top {
      //@include background(image-url("foam_comparison.png"));
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .foam_comparison_title {
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 60px;
        color: #ffffff;
        @media screen and (max-width: $breakpoints960 - 1){
          font-size: 30px;
        }
      }
      .foam_comparison_img {
        padding-top: 50px;
        text-align: center;
        img {
          @media screen and (max-width: $breakpoints640 - 1){
              width: 100%;
              height: auto;
          }
        }

      }
      .foam_comparison_text {
        max-width: 940px;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
        color: #ffffff;
        font-weight: 300;
        line-height: 20px;
        padding-top: 55px;
        padding-bottom: 65px;
        @media screen and (max-width: $breakpoints1280 - 1) {
          max-width: 780px;
        }
        @media screen and (max-width: $breakpoints960 - 1) {
          padding-left: 30px;
          padding-right: 30px;
        }
        @media screen and (max-width: $breakpoints640 - 1){
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
  }
  .foam_comparison {
    &.compare_system_graph_wrap {
      background: #044476;
    }
    .compare_system {
      padding-top: 60px;
      padding-bottom: 70px;
      &:nth-child(2n) {
        background: #044476;
      }
      .compare_system_group {
        padding-top: 55px;
      }
      .step,.title {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        @media screen and (max-width: $breakpoints640 - 1) {
          padding-right: 20px;
          padding-left: 20px;
        }
      }
      .compare_system_item {

        @media screen and (max-width: $breakpoints1280 - 1) {
          width: 50%;
          padding-top: 20px;
        }
        @media screen and (max-width: $breakpoints640 - 1) {
          width: 100%;
          float: none;
        }
        img {
          @media screen and (max-width: $breakpoints640 - 1) {
            width: 100%;
            height: auto;
          }
        }
        width: 25%;
        float: left;
        text-align: center;
        .item_title {
          padding-top: 25px;
          font-size: 18px;
          color: #ffffff;
          max-width: 180px;
          margin: 0 auto;
          font-weight: 600;
          height: 70px;
          line-height: 20px;
        }
        .item_link {
          padding-top: 5px;
          .result {
            line-height: 46px;
            font-size: 18px;
            color: #ffffff;
            padding: 0px 25px;
            display: inline-block;
            height: 46px;
            &.active {
              background: #0196cb;
            }
          }
        }
      }
      &.compare_system_graph {
        text-align: center;
        @media screen and (max-width: $breakpoints960 - 1) {
          padding-left: 30px;
          padding-right: 30px;
        }
        @media screen and (max-width: $breakpoints640 - 1){
          padding-left: 20px;
          padding-right: 20px;
        }
        img {
          @media screen and (max-width: $breakpoints640 - 1){
            width: 100%;
            height: auto;
          }
        }
        .compare_text {
          font-size: 18px;
          color: #ffffff;
          line-height: 20px;
          font-weight: 300;
          max-width: 780px;
          margin: 0 auto;
        }
        .graph_img {
          padding-top: 50px;
        }
      }
    }
  }
  .white_block {
    padding: 60px 0px;
    font-size: 17px;
    color: #151515;
    text-align: center;
    .white_block_text,.white_block_text_button {
      max-width: 780px;
      margin: 0 auto;
      @media screen and (max-width: $breakpoints960 - 1) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media screen and (max-width: $breakpoints640 - 1) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    .white_block_text_button {
      padding-top: 30px;
      text-align: center;
    }
    @media screen and (max-width: $breakpoints960 - 1) {
      padding: 40px 0px;
    }
    /*.white_block_text_button {
      padding-top: 40px;
      text-align: center;
      a {
        background-color: #e62e4c;
        color: #fff;
        display: inline-block;
        font-size: 22px;
        height: 64px;
        line-height: 64px;
        padding: 0 75px 0 75px;
        text-decoration: none;
        @media screen and (max-width: $breakpoints960 - 1) {
          font-size: 16px;
          line-height: 40px;
          height: 40px;
          padding: 0 30px 0 30px;
        }
        @media screen and (max-width: $breakpoints640 - 1) {
          height: auto;
          line-height: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        &:hover {
          color: #fff;
          background-color: #ff4060;
          text-decoration: none;
        }
      }
    }*/
  }
  .foam_texts_wrap {
    .left_part {
      float: left;
      width: 50%;
      padding-right: 24px;
      @media screen and (max-width: $breakpoints1280 - 1) {
        padding-right: 0px;
        width: 100%;
      }
    }
    .right_part {
      float: left;
      width: 50%;
      padding-left: 24px;
      @media screen and (max-width: $breakpoints1280 - 1) {
        padding-left: 0px;
        width: 100%;
      }
    }
  }
  .profile_form {
    padding-top: 40px;
    @media screen and (max-width: $breakpoints640 - 1){
      padding-left: 20px;
      padding-right: 20px;
    }
    .big_text {
      max-width: 790px;
      font-size: 30px;
      color: #000000;
      margin: 0 auto;
      font-weight: 300;
      line-height: 34px;
      text-align: center;
      @media screen and (max-width: $breakpoints960 - 1) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media screen and (max-width: $breakpoints640 - 1){
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .small_text {
      font-size: 17px;
      font-weight: bold;
      padding-top: 40px;
      text-align: center;
    }
    .profile_form_wrap {
      max-width: 450px;
      margin: 0 auto;
      padding-top: 70px;
      .profile_form_link {
        float: right;
        font-size: 13px;
        color: #e62e4c;
        text-decoration: underline;
      }
      #profile-edit-form {
        display: inline-block;
        margin-top: 0px;
        width: 100%;
        .form-item {
          display: inline-block;
          margin-bottom: 17px;
          width: 100%;
        }
        label {
          color: #5d6978;
          font-size: 13px;
          margin: 0;
          @media screen and (max-width: $breakpoints960 - 1) {
            font-size: 11px;
          }
        }
        input[type=text],
        input[type=email] {
          @include box-sizing(border-box);
          @include border-radius(0);
          border: 1px solid #161d26;
          color: #161d26;
          font-size: 13px;
          height: 40px;
          padding: 0 15px;
          width: 100%;
          @media screen and (max-width: $breakpoints960 - 1) {
            font-size: 11px;
          }
        }
        .form-actions_wrap {
          text-align: center;
        }
        .form-actions {
          display: inline-block;
          height: 60px;
          margin: 12px 0 60px 0;
          input[type=submit] {
            @include border-radius(0);
            background-color: $red_text_color;
            border: none;
            color: #fff;
            display: inline-block;
            float: left;
            font-size: 24px;
            height: 60px;
            line-height: 60px;
            padding: 0 40px 0 30px;
            @media screen and (max-width: 959px) {
              font-size: 17px;
            }
          }
          .submit-arrow {
            display: inline-block;
            height: 60px;
            @include background(image-url("red_btn_after_60.png"));
            background-repeat: no-repeat;
            background-position: 0 0;
            position: relative;
            width: 33px;
            &:before {
              @include background(image-url("red_btn_icon.png"));
              background-repeat: no-repeat;
              background-position: center;
              content: '';
              height: 60px;
              position: absolute;
              left: -8px;
              width: 16px;
              z-index: 3;
              border-left-color: #fff;
            }
          }
          &:hover {
            input[type=submit] {
              background-color: #ff4060;
            }
            .submit-arrow {
              background-position: 0 -60px;
            }
          }
        }

      }
    }
  }
  .foam_lines {
    img {
      width: 100%;
      height: auto;
    }
  }
  .comments{
    padding-top: 55px;
    max-width: 900px;
    margin: 0 auto;
    ul{
      padding: 0;
      li{
        list-style: none;
        border-top: 1px solid #d3dae1;
        .commetn-post{
          @include clearfix();
          .icon1{
            float: left;
          }
        }
        .comment-text{
          margin-top: 20px;
          margin-bottom: 20px;
          color: #161d26;
          font-size: 17px;
          line-height: 24px;
          font-family: "Ubuntu", helvetica, Arial, sans-serif;
        }
        & > ul{
          padding-left: 50px;
          & > ul{
            padding-left: 100px;

          }
        }
      }
    }
  }
  .add_new_comment {
    max-width: 900px;
    margin: 0 auto;
    .comment-reply.active {
      .comment-reply-content {
        @media screen and (max-width: $breakpoints1280 - 1px) {
          display: none;
        }
      }
    }
  }
  .comment-reply {
    .comment-reply-content {
      display: none;
    }
    &.active {
      .comment-reply-content {
        display: block;
      }
    }
    .comment-reply-link {
      color: #005c99;
      font-size: 13px;
      border-bottom: 1px dashed #015995;
      line-height: 35px;
      cursor: pointer;
    }
    .comment-reply-title {
      color: #5d6978;
      font-size: 13px;
      line-height: 35px;
    }
    form {
      textarea {
        border: 1px solid #161d26;
        width: 100%;
        resize: none;
        height: 100px;
      }
      input[type="submit"] {
        color: white;
        background: #e62e4c;
        height: 60px;
        border: 0px;
        margin-top: 10px;
        font-size: 17px;
        padding: 0px 35px;
        margin-bottom: 30px;
        @media screen and (max-width: $breakpoints960 - 1px) {
          line-height: 40px;
        }
      }
    }
  }
  .add_new_comment_link {
    color: white;
    background: #e62e4c;
    line-height: 60px;
    border: 0px;
    margin-top: 10px;
    font-size: 17px;
    padding: 0px 35px;
    margin-bottom: 30px;
    display: none;
    margin-top: 20px;
    @media screen and (max-width: $breakpoints1280 - 1px) {
      display: inline-block;
    }
    @media screen and (max-width: $breakpoints960 - 1px) {
      line-height: 40px;
    }
  }
  .author {
    padding-top: 40px;
    @media screen and (max-width: $breakpoints960 - 1) {
      padding-top: 20px;
    }
    .author_img {
      float: left;
      img {
        display: block;
      }
    }
    .icon_wrap {
      float: left;
      position: relative;
      height: 60px;
      .tooltip_blog_wrap {
        position: absolute;
        top: 70px;
        left: 0px;
        display: none;
      }
      &:hover {
        .tooltip_blog_wrap {
          display: block;
        }
      }
      .tooltip_blog {
        font-size: 13px;
        color: #5d6978;
        &:before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 10px;
          width: 11px;
          height: 18px;
          background: url('../../images/tooltip-pointer.png');
        }
      }
      .tooltip_blog {
        white-space: nowrap;
        display: inline-block;
        position: relative;
        border: 1px solid #d3dae1;
        top: 18px;
        padding: 15px 20px;
        margin-bottom: 18px;
        font-size: 13px;
        line-height: 17px;
        background: #ffffff;
      }
    }
    .icon1 {
      background-image: url('../../images/profile_form_icon.png');
      background-color: #e62e4c;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      height: 60px;
      width: 60px;
    }
    .blog_author2 {
      background-image: url('../../images/blog_author2.jpg');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      height: 60px;
      width: 60px;
    }
    .blog_author3 {
      background-image: url('../../images/blog_author3.jpg');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      height: 60px;
      width: 60px;
    }
    .t_wrap {
      float: left;
      padding-left: 20px;
      .t {
        font-size: 13px;
        color: #5d6978;
        line-height: 17px;
        display: table-cell;
        height: 60px;
        vertical-align: middle;
        .author_name {
          color: #005c99;
          font-size: 17px;
          cursor: pointer;
        }
      }
    }
    .blu_ico {
      background-image: url('../../images/blu_ico.jpg');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      float: right;
      height: 60px;
      width: 60px;
      @media screen and (max-width: $breakpoints640 - 1) {
        float: none;
        clear: both;
        display: block;
      }
    }
  }
}