@import "vars";
.front_slider .swiper-slide .slider_title {
  font-size: 40px;
  line-height: 44px;
  @media screen and (max-width: $breakpoints1280 - 1) {
    margin-top: 50px;
  }
  @media screen and (max-width: $breakpoints960 - 1) {
    font-size: 26px;
    line-height: 30px;
    margin-top: 35px;
  }
  @media screen and (max-width: $breakpoints960 - 1) {
    font-size: 18px;
    line-height: 17px;
    margin-top: 30px;
  }
}

#footer .footer-menu>li:nth-child(3) {
  float: left;
}
@media screen and (max-width: $breakpoints640 - 1) {
  #footer .footer-menu > li:nth-child(3) > ul {
    display: block;
  }
}
